<html><head></head>
    <body>
        <form action="/racer/post/post_test" method="post">
            <input type="text" name="n" value="1234"><br>            
            <input type="submit" value="Submit">
        </form>
    </body>
</html>